<div>
  <h2>社員一覧</h2>
  <ul class="members">
    <li
      *ngFor="let member of members"
      [class.selected]="member === selectedMemnber"
      (click)="onSelect(member)"
    >
      <div class="info">
        <span class="badge">{{ member.id }}</span>
        <span>{{ member.position }}： {{ member.name }}</span>
      </div>
      <button class="delete" title="削除ボタン" (click)="onDelete(member)">x</button>
    </li>
  </ul>

  <app-member-detail [member]="selectedMemnber"></app-member-detail>
</div>
